body, html {
    margin: 0;
    padding: 0;
  }
  
  .row {
    height: 100px;
    width: 100%;
  }
  
  .row-big {
    height: 200px;
    width: 100%;
  }
  
  .row-1 {
    background-color: rgb(247, 4, 4);
    padding: 25px;
    box-sizing: border-box;
  }
  
  .row-1-div {
    width: 50px;
    height: 40px;
    background-color: rgb(0, 26, 255);
  }
  
  .row-2 {
    background-color: rgb(3, 8, 250);
    box-sizing: border-box;
    padding: 50px;
  }
  
  .row-3 {
    background-color: rgb(255, 0, 0);
  }
  
  .row-4 {
    background-color: rgb(3, 20, 250);
  }
  
  .row-5 {
    background-color: rgb(255, 0, 0);
  }
  
  .row-6 {
    background-color: rgb(57, 4, 248);
  }
  footer {
      background-color: blue
  }